.navigation {
    padding: 1% 1%;
    border-radius: 5px 5px 50px 50px;
    border-right: 10px solid #ffffff80;
    border-left: 10px solid #ffffff80;
    background-image: linear-gradient(to bottom right, #8f6197, #b493ba);
    box-shadow: 0px 0px 40px 40px linear-gradient(to bottom right, #8f6197, #b493ba);
    margin-bottom: 50px;
}

.navigation__list {
    list-style-type: none;
    text-align: center;
}

.navigation__row {
    display: inline-block;
    margin: 0 10px;
    font-size: large;
}

.navigation__button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #e5dae7;
    color: #000000;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.navigation__button:hover {
    background-color: #44623f;
    color: #ffffff;}