.navigation {
    padding: 1% 1%;
    border-radius: 5px 5px 50px 50px;
    border-right: 10px solid hsla(0, 0%, 100%, .5);
    border-left: 10px solid hsla(0, 0%, 100%, .5);
    background-image: linear-gradient(to bottom right, #8f6197, #b493ba);
    margin: 0px 20% 0px 20%;
    box-shadow: 0px 0px 40px 40px linear-gradient(to bottom right, #8f6197, #b493ba);
}

.navigation__list {
    list-style-type: none;
    text-align: center;
}

.navigation__row {
    display: inline-block;
    margin: 0 10px;
    font-size: large;
}

.navigation__button {
    cursor: pointer;
    background-color: #689661;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.darkButton {
    background-color: #4f7249;
    transition-duration: 0.4s;
}

.navigation__button:hover {
    background-color: #44623f;
}