.section {
    padding: 1% 0px 1% 0;
    margin: 2px auto;
    max-width: 75%;
    border-bottom: 1px solid #734e78a1;
}

.darkSection {
    border-bottom: 1px solid #ffffff;
    transition-duration: 0.4s;
}

.section--last {
    border-bottom: hidden;
}

.section__image {
    max-width: 300px;
    border-right: 10px solid hsla(0, 0%, 100%, .5);
    border-left: 10px solid hsla(0, 0%, 100%, .5);
    border-radius: 50px 5px 50px 5px;
    background-image: linear-gradient(to bottom right, #8f6197, #b493ba);
    margin-bottom: 1%;
}

.section__header {
    font-size: xx-large;
    margin-top: 2px;
    border-radius: 25px 25px 25px 25px;
    border-right: 10px solid hsla(0, 0%, 100%, .5);
    border-left: 10px solid hsla(0, 0%, 100%, .5);
    background-image: linear-gradient(to bottom right, #8f6197, #b493ba);
    box-shadow: 0px 0px 40px 40px linear-gradient(to bottom right, #8f6197, #b493ba);
    padding: 1%;
}

.section__content {
    margin: 0px 20% 0px 20%;
    padding: 2% 2%;
    text-align: center;
    color: whitesmoke;
    border-radius: 50px 5px 50px 5px;
    border-right: 10px solid hsla(0, 0%, 100%, .5);
    border-left: 10px solid hsla(0, 0%, 100%, .5);
    background-image: linear-gradient(to bottom right, #8f6197, #b493ba);
    box-shadow: 0px 0px 40px 40px linear-gradient(to bottom right, #8f6197, #b493ba);
}