html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #efe8f0;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    transition-duration: 0.4s;
}

.dark {
    color: whitesmoke;
    background-color: #050305;
    transition-duration: 0.4s;
}

.link {
    color: #bbc8e8;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.4s;
}

.link:hover {
    color: #e9edf8;
}