html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #e5dae7;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #f5f5f5;
    font-family: 'Roboto Condensed', sans-serif;
    transition-duration: 0.4s;
}

.dark {
    background-color: #734e78;
    transition-duration: 0.4s;
}

.link {
    color: #bbc8e8;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.4s;
}

.link:hover {
    color: #e9edf8;
}