html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #f5f5f5;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.link {
    color: #3f63c0;
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    color:#607c9f ;
}