.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 3%;
}

.table__row:nth-child(even) {
    background: #eee;
}

.table__row {
    background-color: #ffffff;
}

.table__cell {
    border: 1px solid #734e78a1;
    padding: 15px;
}

.table__cell--header {
    font-weight: normal;
    background-image: linear-gradient(to bottom right, #8f6197, #b493ba);
}

.table__cell--content {
    color: #303030;
}

.table__cell--content:hover {
    background-color: #ddd;
    transition-duration: 0.4s;
}